/* public */
body>.content {
  margin: auto;
  overflow: hidden;
  max-width: 1140px;
}

.row {
  margin: auto;
  padding: 10px 40px 0px;
  overflow: hidden;
}

.row:first-child {
  padding-top: 100px;
}

.row .subject {
  font-size: 16px;
}

.row .content {
  position: relative;
  margin-top: 5px;
  margin-bottom: 40px;
}

.row .content .error {
  z-index: 999;
  display: none;
  position: relative;
  font-size: 20px;
}

.row .content .tooltipped {
  cursor: pointer;
  z-index: 999;
  display: none;
  position: relative;
  font-size: 35px;
  font-weight: bold;
}

.row .content .error.active,
.row .content .tooltipped.active {
  display: inline-block;
}

.row .tooltip {
  left: 0px;
  color: white;
  bottom: -30px;
  opacity: 0;
  z-index: 998;
  display: none;
  padding: 5px 10px;
  position: absolute;
  font-size: 10px;
  transform: translateY(0%);
  transition: all ease 300ms;
  text-align: center;
  max-height: 30px;
  line-height: 15px;
  border-radius: 12.5px;
  background-color: #323232;
}

.row .tooltip.active {
  opacity: 0 !important;
  transform: translateY(-150%);
  animation-name: fade-out;
}

.row.version {
  margin-bottom: 20px;
}

.row.version .caption {
  font-size: 12px;
  margin-bottom: 10px;
}

.row.version .history {
  font-size: 10px;
  margin-top: 5px;
}

/* material */
.material-tooltip {
  padding: 5px 10px;
  min-height: 20px;
  line-height: inherit;
  border-radius: 12.5px;
}

.material-tooltip .tooltip-content {
  color: white;
  font-size: 10px;
  line-height: 15px;
}

.material-toast {
  padding: 10px 20px;
  font-size: 12px;
  line-height: 30px;
  border-radius: 25px;
  margin-bottom: 20px;
}

#toast-container {
  top: inherit !important;
  left: 50% !important;
  right: inherit !important;
  bottom: 0px !important;
  display: inline-block;
  min-width: auto;
  transform: translateX(-50%);
}

.inline-block {
  display: inline-block !important;
}

@keyframes fade-out {

  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@media only screen and (max-width : 1040px) {

  .row {
    padding-left: 20px;
    padding-right: 20px;
  }
    
  .row .tooltip {
    opacity: 1;
  }

  footer .contact {
    padding: 15px 20px;
  }
}
